<h1>Filter Menu</h1>
    <%= form_tag filter_result_path do |form| %>
      <div class="table-responsive table-bordered">
        <table class="table">
          <tbody>
          <tr>
            <td>
              <div class="field">
                <%= label_tag :s_no ,"S.No."%><br>
                <%= number_field_tag :s_no %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :src_reg,"Source of registration" %>
                <%= text_field_tag :src_reg %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :zone ,"Zone"%>
                <%= text_field_tag :zone %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :DOR ,"Date of registration"%><br>
                <%= date_field_tag :DOR %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= label_tag :reg_no ,"Registration number"%>
                <%= text_field_tag :reg_no %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :name ,"Name"%>
                <%= text_field_tag :name %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :gender,"Gender" %>
                <%= text_field_tag :gender %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :age ,"Age"%><br>
                <%= number_field_tag :age %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= label_tag :address ,"Address"%><br>
                <%= text_area_tag :address %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :branch,"Branch" %>
                <%= text_field_tag :branch %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :email,"Email" %>
                <%= text_field_tag :email %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :contact_no,"Contact number" %><br>
                <%= number_field_tag :contact_no %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= label_tag :state,"State" %>
                <%= text_field_tag :state %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :qualification,"Qualification" %>
                <%= text_field_tag :qualification %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :specialization ,"Specialization"%>
                <%= text_field_tag :specialization %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :experience,"Experience" %>
                <%= text_field_tag :experience %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= label_tag :remarks_mobility ,"Remarks Mobility"%><br>
                <%= number_field_tag :remarks_mobility %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :DOC ,"Date of closure"%><br>
                <%= date_field_tag :DOC%>
              </div>
            </td>
            <td>
              <div class="field">
                <%= label_tag :status,"Status" %>
                <%= text_field_tag :status %>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="actions">
        <%= submit_tag "Filter"%>
      </div>
    <% end %>

<div class="text-center">
  <%=link_to "Back",candidate_details_path,class: "btn btn-default" %>
</div>